f1
[{"id":"1838ce9.703c331","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9dee1081.26f54","type":"rpi-gpio in","z":"1838ce9.703c331","name":"Button","pin":"7","intype":"up","debounce":"25","read":false,"x":70,"y":120,"wires":[["d0c596c9.8d41b8","599e66ce.50ae38"]]},{"id":"599e66ce.50ae38","type":"debug","z":"1838ce9.703c331","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":140,"wires":[]},{"id":"113aca2a.67cf26","type":"rpi-gpio out","z":"1838ce9.703c331","name":"LED","pin":"11","set":"","level":"0","freq":"","out":"out","x":590,"y":260,"wires":[]},{"id":"d0c596c9.8d41b8","type":"switch","z":"1838ce9.703c331","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":280,"wires":[["99aa2ff8.140bf"],["a8d95124.d2fbd"]]},{"id":"99aa2ff8.140bf","type":"change","z":"1838ce9.703c331","name":"Chang to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":220,"wires":[["113aca2a.67cf26"]]},{"id":"a8d95124.d2fbd","type":"change","z":"1838ce9.703c331","name":"Chang to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":360,"wires":[["113aca2a.67cf26"]]}]
