f2
[{"id":"3e992af7.a9dd76","type":"tab","label":"t1","disabled":false,"info":""},{"id":"68b223fd.6f71ac","type":"inject","z":"3e992af7.a9dd76","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":40,"wires":[["c74eb9af.ec9328"]]},{"id":"c74eb9af.ec9328","type":"function","z":"3e992af7.a9dd76","name":"payload","func":"msg.headers={\n    devicekey: \"ueGkstur2oXVNpUd\"\n    };\nmsg.payload= \"Temperature,,25.3\";\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":160,"wires":[["d7759ba0.49aea8"]]},{"id":"d7759ba0.49aea8","type":"http request","z":"3e992af7.a9dd76","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DYTk87o5/datapoints.csv","tls":"","proxy":"","authType":"","x":230,"y":260,"wires":[["9d7a8490.f2ad38","7e803fff.2b852"]]},{"id":"9d7a8490.f2ad38","type":"http response","z":"3e992af7.a9dd76","name":"","statusCode":"","headers":{},"x":450,"y":360,"wires":[]},{"id":"7e803fff.2b852","type":"debug","z":"3e992af7.a9dd76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":440,"wires":[]}]
