f3
[{"id":"f87df468.1b1278","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"9509db76.543588","type":"inject","z":"f87df468.1b1278","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":190,"y":60,"wires":[["e08dd625.c9bb28"]]},{"id":"e08dd625.c9bb28","type":"function","z":"f87df468.1b1278","name":"payload","func":"msg.headers={\n    devicekey:\"HqVq6vmXumdgjz4B\"\n    };\nmsg.payload=\"Temperature,,65.43\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":120,"wires":[["28802a1d.1628b6"]]},{"id":"28802a1d.1628b6","type":"http request","z":"f87df468.1b1278","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DykRheTs/datapoints.csv","tls":"","proxy":"","authType":"","x":560,"y":140,"wires":[["6c8180e6.f345","9fb66e80.9b038"]]},{"id":"6c8180e6.f345","type":"http response","z":"f87df468.1b1278","name":"","statusCode":"","headers":{},"x":650,"y":300,"wires":[]},{"id":"9fb66e80.9b038","type":"debug","z":"f87df468.1b1278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":360,"wires":[]}]
